body {
    background-color: rgb(181, 226, 209);
}
body h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #2ef8ff;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}
.menu {
    border-radius: 5px;
    border: 1px solid #ffffff;
    width: 300px;
    height: 670px;
    overflow-y: auto;
    text-align: center;
}
.menu p {
    text-align: center;
}
.imagen {
    border: 1px solid #ffffff;
    margin-left: 20px;
    margin-top: 20px;
    transition: transform 0.3s ease;
}
.imagen:hover{
    transform: scale(1.1);
}
.listas{
    border-radius: 5px;
    border: 1px solid #ffffff;
    width: 1150px;
    height: 670px;
    overflow-y: auto;
}
.listas::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 5px;
}

.listas::-webkit-scrollbar-thumb{
    background-color: #797979;
    border-radius: 5px;
}